{{ $data := .Site.Data.rulebook }}
{{ with $data }}{{ warnf "spike-h probe variant=data rules=%v" (len .rules) }}{{ else }}{{ warnf "spike-h probe variant=data data=nil" }}{{ end }}
{{ range $data.rules }}
  {{ $content := dict "mediaType" "text/markdown" "value" (printf "Rule %s" .id) }}
  {{ $params := dict "ruleId" .id "analyzer" .analyzer "default" .default "cells" .cells "docsUrl" .docsUrl }}
  {{ $page := dict "path" (printf "rules/%s" .id) "title" .title "kind" "page" "content" $content "params" $params }}
  {{ $.AddPage $page }}
{{ end }}
